In [138]:
import pandas as pd
import folium
from folium import plugins
from folium.plugins import HeatMap

In [139]:
data = pd.read_csv(r'..\Files\Hotel_Reviews.csv', low_memory=False,delimiter=',', encoding='iso-8859-1', decimal='.')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515738 entries, 0 to 515737
Data columns (total 17 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   Hotel_Address                               515738 non-null  object
 1   Additional_Number_of_Scoring                515738 non-null  int64
 2   Review_Date                                 515738 non-null  object
 3   Average_Score                               515738 non-null  float64
 4   Hotel_Name                                  515738 non-null  object
 5   Reviewer_Nationality                        515738 non-null  object
 6   Negative_Review                             515738 non-null  object
 7   Review_Total_Negative_Word_Counts           515738 non-null  int64
 8   Total_Number_of_Reviews                     515738 non-null  int64
 9   Positive_Review                             515738 non-null  object
 10  Review_Total_Positive_Word_Counts           515738 non-null  int64
 11  Total_Number_of_Reviews_Reviewer_Has_Given  515738 non-null  int64
 12  Reviewer_Score                              515738 non-null  float64
 13  Tags                                        515738 non-null  object
 14  days_since_review                           515738 non-null  object
 15  lat                                         512470 non-null  float64
 16  lng                                         512470 non-null  float64
dtypes: float64(4), int64(5), object(8)
memory usage: 66.9+ MB

In [140]:
# cria novo dataframe a partir das colunas que eu quero
df = data[['Review_Date','Hotel_Name',
           'Negative_Review', 'Positive_Review', 'Reviewer_Score',
           'Tags', 'lat', 'lng']]
df.sample(10)

,Review_Date,Hotel_Name,Negative_Review,Positive_Review,Reviewer_Score,Tags,lat,lng
279774,5/24/2016,Crowne Plaza Barcelona Fira Center,bar service was very disappointing need to le...,bedrooms were excellent and reception service...,8.3,"[' Leisure trip ', ' Couple ', ' Deluxe Double...",41.372525,2.154079
409031,8/8/2016,Starhotels Anderson,Breakfast needed more variety,Great location just across the street from Mi...,10.0,"[' Leisure trip ', ' Family with older childre...",45.485255,9.206950
495072,1/19/2017,Starhotels Tourist,Free wifi at less than 1 mb s so had to upgra...,Very friendly staff and good food in the rest...,6.3,"[' Business trip ', ' Solo traveler ', ' Class...",45.526640,9.213155
151067,9/26/2015,Park Grand London Kensington,No Negative,Lovely and quiet rooms Friendly helpful staff,7.9,"[' Leisure trip ', ' Family with young childre...",51.493847,-0.191758
298749,2/6/2016,Doubletree By Hilton London Greenwich,There was nothing really only the hair dryer ...,My husband and I were impressed with this hot...,9.2,"[' Leisure trip ', ' Couple ', ' Queen Guest R...",51.474469,-0.019428
194552,11/21/2016,The Whitechapel,Could throw in a coffee and orange juice in t...,Everything from check in to check out room wa...,10.0,"[' Leisure trip ', ' Family with young childre...",51.516129,-0.062446
188345,3/19/2017,London City Suites,Cleanliness,Comfy bed,8.8,"[' Business trip ', ' Couple ', ' Superior Dou...",51.520631,-0.091534
390028,11/16/2016,Aloft London Excel,The mattress was very hard and didn t suit us...,Nice and modern hotel Staff very friendly Cle...,7.9,"[' Leisure trip ', ' Couple ', ' Double or Twi...",51.508372,0.035577
164761,1/9/2017,Strand Palace Hotel,Nothing the staff can do about it but it is a...,The bed was super comfy Location was nice rig...,7.9,"[' Leisure trip ', ' Solo traveler ', ' Cosy S...",51.511099,-0.120867
426646,12/8/2016,Catalonia Born,You could hear EVERYTHING going on in the hal...,Great staff and great location,8.8,"[' Leisure trip ', ' Family with young childre...",41.389692,2.179866

In [141]:
# transforma coluna Review_Date para datetime
df.loc[:, 'Review_Date'] = pd.to_datetime(df['Review_Date'], format='%m/%d/%Y')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515738 entries, 0 to 515737
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Review_Date      515738 non-null  object
 1   Hotel_Name       515738 non-null  object
 2   Negative_Review  515738 non-null  object
 3   Positive_Review  515738 non-null  object
 4   Reviewer_Score   515738 non-null  float64
 5   Tags             515738 non-null  object
 6   lat              512470 non-null  float64
 7   lng              512470 non-null  float64
dtypes: float64(3), object(5)
memory usage: 31.5+ MB

In [142]:
# mapa = folium.Map([47.3656495,8.5428545], zoom_start=5)
# df=df.dropna(subset=['lat'])
# df=df.dropna(subset=['lng'])
# local = df[['lat', 'lng']].values
# HeatMap(local).add_to(mapa)

folium.plugins.Fullscreen(
    position="topright",
    title="Expand me",
    title_cancel="Exit me",
    force_separate_button=True,
).add_to(mapa)

# mapa

In [143]:
# substitui as avaliações "No negative" e "No positive" por string vazia
df.loc[:, 'Positive_Review'] = data.Positive_Review.apply(lambda x: x.replace('No Positive', ''))
df.loc[:, 'Negative_Review'] = data.Negative_Review.apply(lambda x: x.replace('No Negative', ''))
df.sample(5)

,Review_Date,Hotel_Name,Negative_Review,Positive_Review,Reviewer_Score,Tags,lat,lng
293467,2016-01-07 00:00:00,Hotel Best Western PLUS Alfa Aeropuerto,,Free airport shuttle,7.9,"[' Leisure trip ', ' Couple ', ' Double or Twi...",41.328376,2.112964
359634,2017-06-24 00:00:00,Park Plaza Vondelpark Amsterdam,There was not anything,All of the staff were so lovely it made out s...,9.2,"[' Leisure trip ', ' Couple ', ' Superior Quee...",52.354265,4.866436
319570,2016-03-12 00:00:00,NH Hesperia Barcelona del Mar,Easier access to getting cases into or out of...,The friendly and helpfulness of the staff Roo...,10.0,"[' Business trip ', ' Couple ', ' Standard Dou...",41.401440,2.210075
415624,2017-07-11 00:00:00,Catalonia Barcelona Plaza,Our room was on the top floor which was not s...,Proximity to the station and sites was excell...,7.5,"[' Leisure trip ', ' Family with young childre...",41.375029,2.149117
75309,2017-07-01 00:00:00,Park Plaza London Riverbank,I am very annoyed that dispite discussing pre...,,8.3,"[' Leisure trip ', ' Group ', ' Executive Doub...",51.491374,-0.121419

In [154]:
# une as colunas de avaliações negativas e positivas em uma só
df.loc[:,"Total_Review"] = df["Negative_Review"] + df["Positive_Review"]
df.sample(5)

,Review_Date,Hotel_Name,Negative_Review,Positive_Review,Reviewer_Score,Tags,lat,lng,Total_Review,review_type
270646,2017-02-07 00:00:00,Hotel Mailberger Hof,Air conditioning is not turned on in winter s...,Staff were very friendly,8.8,"[' Leisure trip ', ' Solo traveler ', ' Standa...",48.204183,16.372666,Air conditioning is not turned on in winter s...,Good
730,2017-01-17 00:00:00,K K Hotel George,nothing,good meals reasonable priced,10.0,"[' Leisure trip ', ' Couple ', ' Classic Twin ...",51.491888,-0.194971,nothing good meals reasonable priced,Good
11213,2015-08-25 00:00:00,Grand Royale London Hyde Park,Personal recepci n,Location,9.2,"[' Leisure trip ', ' Couple ', ' Deluxe Double...",51.510995,-0.186342,Personal recepci n Location,Good
242088,2016-05-05 00:00:00,Grange Wellington Hotel,,A clean stylish hotel conveniently located in...,9.6,"[' Leisure trip ', ' Group ', ' Superior Doubl...",51.494432,-0.136376,A clean stylish hotel conveniently located in...,Good
367212,2016-06-21 00:00:00,NH Collection Milano President,Construction outside hotel,Room was nice,6.3,"[' Leisure trip ', ' Couple ', ' Superior Doub...",45.463068,9.197937,Construction outside hotel Room was nice,Neutral

In [155]:
# classifica avaliações com nota inferior a 6 como ruins e maiores como
df.loc[:,"review_type"] = df["Reviewer_Score"].apply(
    lambda x: "Bad" if x < 4 else ("Neutral" if x < 7 else "Good")
)

df

,Review_Date,Hotel_Name,Negative_Review,Positive_Review,Reviewer_Score,Tags,lat,lng,Total_Review,review_type
0,2017-08-03 00:00:00,Hotel Arena,I am so angry that i made this post available...,Only the park outside of the hotel was beauti...,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",52.360576,4.915968,I am so angry that i made this post available...,Bad
1,2017-08-03 00:00:00,Hotel Arena,,No real complaints the hotel was great great ...,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",52.360576,4.915968,No real complaints the hotel was great great ...,Good
2,2017-07-31 00:00:00,Hotel Arena,Rooms are nice but for elderly a bit difficul...,Location was good and staff were ok It is cut...,7.1,"[' Leisure trip ', ' Family with young childre...",52.360576,4.915968,Rooms are nice but for elderly a bit difficul...,Good
3,2017-07-31 00:00:00,Hotel Arena,My room was dirty and I was afraid to walk ba...,Great location in nice surroundings the bar a...,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",52.360576,4.915968,My room was dirty and I was afraid to walk ba...,Bad
4,2017-07-24 00:00:00,Hotel Arena,You When I booked with your company on line y...,Amazing location and building Romantic setting,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",52.360576,4.915968,You When I booked with your company on line y...,Neutral
...,...,...,...,...,...,...,...,...,...,...
515734,2015-08-22 00:00:00,Atlantis Hotel Vienna,The hotel looks like 3 but surely not 4,Breakfast was ok and we got earlier check in,5.8,"[' Leisure trip ', ' Family with young childre...",48.203745,16.335677,The hotel looks like 3 but surely not 4 Brea...,Neutral
515735,2015-08-19 00:00:00,Atlantis Hotel Vienna,The ac was useless It was a hot week in vienn...,,2.5,"[' Leisure trip ', ' Family with older childre...",48.203745,16.335677,The ac was useless It was a hot week in vienn...,Bad
515736,2015-08-17 00:00:00,Atlantis Hotel Vienna,,The rooms are enormous and really comfortable...,8.8,"[' Leisure trip ', ' Group ', ' Standard Tripl...",48.203745,16.335677,The rooms are enormous and really comfortable...,Good
515737,2015-08-09 00:00:00,Atlantis Hotel Vienna,I was in 3rd floor It didn t work Free Wife,staff was very kind,8.3,"[' Leisure trip ', ' Family with young childre...",48.203745,16.335677,I was in 3rd floor It didn t work Free Wife ...,Good
Total_Review,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Good

In [146]:
# cria um dataframe somente com o comentário e sua classificação
df_reviews = df[["Total_Review", "review_type"]]
df_reviews

                                             Total_Review review_type
0        I am so angry that i made this post available...         Bad
1        No real complaints the hotel was great great ...        Good
2        Rooms are nice but for elderly a bit difficul...        Good
3        My room was dirty and I was afraid to walk ba...         Bad
4        You When I booked with your company on line y...     Neutral
...                                                   ...         ...
515733   no trolly or staff to help you take the lugga...        Good
515734   The hotel looks like 3 but surely not 4  Brea...     Neutral
515735   The ac was useless It was a hot week in vienn...         Bad
515736   The rooms are enormous and really comfortable...        Good
515737   I was in 3rd floor It didn t work Free Wife  ...        Good

[515738 rows x 2 columns]

In [147]:
# mostra os comentários positivos citados e a quantidade de cada um deles se repetidos
df_reviews[df_reviews.review_type == 'Good'].Total_Review.value_counts()

Total_Review
Location                                                                                                                                                                                                                          947
Nothing Everything                                                                                                                                                                                                                938
Everything                                                                                                                                                                                                                        599
Great location                                                                                                                                                                                                                    253
Everything                                                                                                                                                                                                                        207
                                                                                                                                                                                                                                 ...
Decor was a little tired but acceptable Most important was the cleanliness In view of its location it was well worth the money  Room was comfortable and for Central London very quiet                                              1
Three flights of stairs with a suitcase We did know there was no lift though  Quiet room as requested Good shower We were allowed to leave cases at the hotel on checkout until we were ready to move on                            1
D cor a little tired  Excellent location very friendly staff Comfortable bed and good complimentary refreshments tea coffee water etc Very clean and good toiletries and towels                                                     1
The air con could have been slightly more efficient  I was upgraded to a double room for my one night It is the nicest room I have had in a London hotel quite quirky and theatrical perfect for the theatre district of town       1
I was in 3rd floor It didn t work Free Wife  staff was very kind                                                                                                                                                                    1
Name: count, Length: 413940, dtype: int64

In [148]:
# mostra os comentários negativos citados e a quantidade de cada um deles se repetidos
df_reviews[df_reviews.review_type == 'Bad'].Total_Review.value_counts()

Total_Review
Everything Nothing                                                                                                                                                                                                                                                                                              106
Nothing                                                                                                                                                                                                                                                                                                          27
Everything                                                                                                                                                                                                                                                                                                       15
everything nothing                                                                                                                                                                                                                                                                                               13
Every thing Nothing                                                                                                                                                                                                                                                                                              10
                                                                                                                                                                                                                                                                                                               ...
As above The room was not as clean as expected there was a bad smell in the room and the tv kept jumping and going off so couldn t watch tv The coffee machine in reception didn t always work and there was not a lot of section for breakfast After a long travel you would not feel like walking for feed      1
What I saw was miserable including staff behavior manager s behavior and quality of services This hotel s value is not more than 50 Euro per night and it is not a 4 star hotel at all I do not recommend it at all as we changed our hotel after the first night  Actually nothing really nothing                1
The stairs were very narrow and bit dark  Staff was very pleasant and happy to help Always proposing candies to Kids Free Apples water was always available                                                                                                                                                       1
Dear sir madam I am wondering if this was a hotel I couldn t even categorise it to a 4 star hotel the whole time it smelled bad the pictures in web site didn t match with the reality Here seems to be a guest house rather than a hotel the rooms were not spacious enough so that it was hard to move          1
The ac was useless It was a hot week in vienna and it only gave more hot air                                                                                                                                                                                                                                      1
Name: count, Length: 10456, dtype: int64

In [150]:
# separa as avaliações em good e bad
good_reviews = df[df.review_type == "Good"]
bad_reviews = df[df.review_type == "Bad"]
neutral_reviews = df[df.review_type == "Neutral"]

In [151]:
# aleatoriza e seleciona aleatoriamente um número de avaliações positivas 
# igual ao número de avaliações negativas e neutras
good_df = good_reviews.sample(n=len(bad_reviews) + len(neutral_reviews), random_state=48)

# Concatena os DataFrames de avaliações positivas e neutras com as avaliações negativas
df_review_resampled = pd.concat([good_df, neutral_reviews, bad_reviews], ignore_index=True)

# Verifica a forma do DataFrame resultante
df_review_resampled

,Review_Date,Hotel_Name,Negative_Review,Positive_Review,Reviewer_Score,Tags,lat,lng,Total_Review,review_type
0,2016-10-10 00:00:00,DoubleTree By Hilton London Excel,My View was poor,,7.1,"[' Leisure trip ', ' Solo traveler ', ' Queen ...",51.507377,0.038657,My View was poor,Good
1,2016-04-13 00:00:00,Hotel Eden,A bit far from city centre although handy for...,Very comfy bed,8.8,"[' Leisure trip ', ' Couple ', ' Superior Doub...",48.840561,2.299104,A bit far from city centre although handy for...,Good
2,2015-12-01 00:00:00,The Exhibitionist Hotel,The bed was very comfortable and the staff we...,,10.0,"[' Leisure trip ', ' Couple ', ' Standard Doub...",51.494775,-0.177789,The bed was very comfortable and the staff we...,Good
3,2016-08-11 00:00:00,Blakemore Hyde Park,not one thing was negative,Continental breakfast was superlative lots of...,10.0,"[' Leisure trip ', ' Group ', ' Club Twin Room...",51.512974,-0.183743,not one thing was negative Continental breakf...,Good
4,2015-08-25 00:00:00,NH Milano Touring,Nothing it was all great,The location was excellent we were able to wa...,9.6,"[' Leisure trip ', ' Family with young childre...",45.476917,9.196665,Nothing it was all great The location was ex...,Good
...,...,...,...,...,...,...,...,...,...,...
173697,2017-05-17 00:00:00,Atlantis Hotel Vienna,8am wake up from hotel repairs very rude staff,worst hotel experience rude staff not helpful...,2.9,"[' Business trip ', ' Group ', ' Standard Trip...",48.203745,16.335677,8am wake up from hotel repairs very rude staf...,Bad
173698,2016-09-24 00:00:00,Atlantis Hotel Vienna,Can t even stop the car to unload in front of...,,3.8,"[' Leisure trip ', ' Family with young childre...",48.203745,16.335677,Can t even stop the car to unload in front of...,Bad
173699,2016-08-19 00:00:00,Atlantis Hotel Vienna,Being 4star hotel except breakfast,Breakfast,3.8,"[' Leisure trip ', ' Family with older childre...",48.203745,16.335677,Being 4star hotel except breakfast Breakfast,Bad
173700,2016-05-29 00:00:00,Atlantis Hotel Vienna,Room vas located in different building with n...,,3.8,"[' Business trip ', ' Solo traveler ', ' Stand...",48.203745,16.335677,Room vas located in different building with n...,Bad
173701,2015-08-19 00:00:00,Atlantis Hotel Vienna,The ac was useless It was a hot week in vienn...,,2.5,"[' Leisure trip ', ' Family with older childre...",48.203745,16.335677,The ac was useless It was a hot week in vienn...,Bad